.button {
    outline: none;
    background-color: transparent;
    border: 2px solid $offWhite;
    padding: 10px 20px;
    font-size: 16px;
    color: $offWhite;
    transition: background-color 0.1s ease-in;
    letter-spacing: 2px;
    &:hover {
        background-color: rgba($offWhite, 0.5);
    }
    &.dark {
        border: 2px solid $primaryColor;
        color: $primaryColor;
        &:hover {
            background-color: $primaryColor;
            color: $white;
        }
    }
}
// .section-header {
//     font-weight: 500;
//     text-transform: uppercase;
//     padding-bottom: 2rem;
//     margin: 0;
// }