@import './variables';
@import './common';
@import './utilities';
@import './media';
html {
    scroll-behavior: smooth;
    font-size: 15px;
    body {
        font-family: 'Rubik', sans-serif;
    }
}
.navbar {
    background-color: $primaryColor;
    .logo {
        svg {
            width: 30px;
            g {
                path {
                    fill: $white;
                }
            }
        }
    }
    .nav-item {
        &:not(:first-child) {
            margin-left: 20px;
        }
        display: flex;
        align-items: center;
        a {
            color: $white;
            font-weight: 500;
            letter-spacing: 2px;
            padding-bottom: 5px;
            border-bottom: 1px transparent solid;
            &.active {
                border-bottom: 1px $offWhite solid;
            }
            &:hover {
                color: $white;
                border-bottom: 1px $offWhite solid;
            }
        }
    }
}
.hero{
    background-image: url(/images/project3.jpg);
    background-size: cover;
    .header {
        color: $white;
        letter-spacing: 2px;
    }
    .sub-header {
        color: $white;
        font-size: 16px;
        letter-spacing: 2px;
    }
    .avatar {
        width: 120px;
        border-radius: 50%;
        border: 2px solid $offWhite;
    }
    .action-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        margin-bottom: 40px;
    }
}
.projects {
    .pro-button {
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: $white; 
        color: $primaryColor;
        border: 2px solid $secondaryColor;
        &:hover {
            background-color: $secondaryColor;
            color: white;
        }
    }
}
.contact{
    background-color: $offWhite;
}
.nav-size {
    font-size: 20px;
    height: 86px;
}
.img-coffee{
   width: 200px;
}
.block-size{
    height: 50%
}
.size-icon {
    font-size: 30px;
}
.zoom {
    transition: transform .2s;
}
.zoom:hover {
    transform: scale(1.1);
    transition: transform .2s;
}
.pro-text {
    letter-spacing: 3px;
}
.font-size{
    font-size: 43px;
    color: $offWhite;
}
.font-heading-size{
    font-size: 43px;
}
.bottom-font-size{
    font-size: 43px;
    color: $offWhite;
}
.p-size{
    color: $offWhite;
}
.footer-font-size{
    font-size: 14px;
}
.gif-size{
    width: 100px;
}
.image{
    margin-bottom: 15px;
}
.icon-size{
    font-size: 1.25rem;
    margin-right: 10px;
}

